<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
    <title>Bid Big Auction</title>
</head>
<body>
    <h3>Time remaining: <span id="time"></span> </h3>
    <h1> {{title}} </h1>
    <h2> {{description}}</h3>
    <h3> Created by: {{creator}}</h2>
    <h3> Price: {{price}}</h2>
    <key value="{{id}}"></key>
    
    
    <img class="auc-pic" src="{{img}}">
    <h2>All Bids</h3>
    <h3>Current highest bid: <span id="highest">{{curr_highest}}</span></h3>
    <h2>By: <span id="winner">{{winner}}</span></h2>
    <form>
        <label for="user-bid">Submit a bid:</label>
        <input min="0" max="999999999999999999999999" id="user-bid" type="number"></input>
        <p>Input is limited to numbers only!</p>
        <button onclick="submitBid({{id}})" type="button">Bid Big!</button>
        <p id="bid-result"></p>
    </form>
    
    


    <script src="/static/comments.js"></script>
    <!-- the {{id}} is not an error because this isnt just an html file, 
        it is being used as a string template by the server -->
    <script onload="websocketConn({{id}});" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script onload="hello_world_test();"></script>
</body>
</html>