{% extends 'homepage.html' %}

{% block comments %}


<div class="comment_container">
    <h1>comments</h1>
    <div id="comment_contents">
        <div id="comments"></div>
    </div>
</div>

    <script>

        function sendToBrendan(id){
            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", "{{ url_for('likePost') }}");
            xhttp.setRequestHeader("Content-type", "application/json");
            xhttp.send(JSON.stringify(
                {id:id}
            ))
        }

        function poll(){
            var xhttp = new XMLHttpRequest();
            xhttp.open("GET", "{{ url_for('getPosts') }}");
            xhttp.onreadystatechange = function () {
                if (this.readyState === 4 && this.status === 200) {
                    console.log(this.response)
                    const messages = JSON.parse(this.response);
                    document.getElementById("comments").innerHTML = ""
                    for (const message of messages) {
                        document.getElementById("comments").innerHTML+= `
                        <a href ="/post/${message._id}">
                        <div class="post_prev">
                            <key class="invisible" value=${message._id}></key>
                            <div class="post_prev_content">
                                <div class="post_prev_title">${message.title}</div>
                                <img src="/static/uploads/${message.pic}" type="post_prev"></img>
                                <div class="post_prev_title">The Winner: ${message.finalWinner}: $${message.winningBid}</div>
                            </div>
                        </div>
                        </a>
                        
                        `
                    }
                }
            };
            xhttp.send();
        }
        
        poll()
        setInterval(poll, 5000);
        
    </script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    
    <script>

        // Jquery Dependency

        $("input[data-type='currency']").on({
            keyup: function() {
            formatCurrency($(this));
            },
            blur: function() { 
            formatCurrency($(this), "blur");
            }
        });


        function formatNumber(n) {
        // format number 1000000 to 1,234,567
        return n.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        }


        function formatCurrency(input, blur) {
        // appends $ to value, validates decimal side
        // and puts cursor back in right position.
        
        // get input value
        var input_val = input.val();
        
        // don't validate empty input
        if (input_val === "") { return; }
        
        // original length
        var original_len = input_val.length;

        // initial caret position 
        var caret_pos = input.prop("selectionStart");
            
        // check for decimal
        if (input_val.indexOf(".") >= 0) {

            // get position of first decimal
            // this prevents multiple decimals from
            // being entered
            var decimal_pos = input_val.indexOf(".");

            // split number by decimal point
            var left_side = input_val.substring(0, decimal_pos);
            var right_side = input_val.substring(decimal_pos);

            // add commas to left side of number
            left_side = formatNumber(left_side);

            // validate right side
            right_side = formatNumber(right_side);
            
            // On blur make sure 2 numbers after decimal
            if (blur === "blur") {
            right_side += "00";
            }
            
            // Limit decimal to only 2 digits
            right_side = right_side.substring(0, 2);

            // join number by .
            input_val = "$" + left_side + "." + right_side;

        } else {
            // no decimal entered
            // add commas to number
            // remove all non-digits
            input_val = formatNumber(input_val);
            input_val = "$" + input_val;
            
            // final formatting
            if (blur === "blur") {
            input_val += ".00";
            }
        }
        
        // send updated string to input
        input.val(input_val);

        // put caret back in the right position
        var updated_len = input_val.length;
        caret_pos = updated_len - original_len + caret_pos;
        input[0].setSelectionRange(caret_pos, caret_pos);
        }

    </script>    


{% endblock %}