{% extends 'profile.html' %}


{% block comments %}
<h1> Comments</h1>
    <div style="width: 50%; margin: auto">
        {% for comment in comments %}
        <div style="padding: 10px; background-color: #EEE; margin: 20px">
            <p style="font-size: 24px">{{ comment.username }}</p>
            <p style="font-size: 24px">{{ comment.title }}</p>
            <p style="font-size: 24px">{{ comment.detail }}</p>
            <p style="font-size: 24px">❤ {{ comment.like_count }}</p>
            <key value="">{{comment._id}}</key>
        </div>
        {% endfor %}
</div>
{% endblock %}