{% extends 'index.html' %}

{% block login %}
<div class="fixed">
    <div class="flex-banner">
        
        <div class="reg-form">

            <p>Passwords must contain 8 characters, with atleast 1 number and letter</p>
            <form id="register-form" action="{{ url_for('login') }}" method="post">      
                <span class="">Username:</span> 
                <input class="" type="text" name="username" required maxlength="20" minlength="4"></input> <br></br> 
                <span class="">Password:</span>
                <input class="" type="password" name="password" required maxlength="40" minlength="6"></input> <br></br>

                <p id="reg-help">{{ feedback }}</p>
                
                <br></br>
                <button class="button right">Register</button>
                
        
            </form>

            

        </div>

    </div>
</div>
{% endblock %}