{% extends 'index.html' %}

{% block register %}
<h1>Register: </h1>
        
    <div class="reg-form">

        <form id="register-form" action="{{ url_for('register') }}" method="post">
            <span class="">Username:</span> 
            <input class="" type="text" name="username" required maxlength="200" minlength="4"></input> <br></br> 
            <span class="">Password:</span>
            <input class="" type="password" name="password" required maxlength="200" minlength="6"></input> <br></br>

                    

            <p id="reg-help">{{ feedback }}</p>
                    

            <button class="button right">Register</button>
                    
            
        </form>

        <br><br><br><br>
    </div>
{% endblock %}

{% block login %}
        
    <div class="reg-form">

        <form id="register-form" action="{{ url_for('login') }}" method="post">      
            <span class="">Email:</span> 
            <input class="" type="text" name="username" required maxlength="200" minlength="4"></input> <br></br> 
            <span class="">Password:</span>
            <input class="" type="password" name="password" required maxlength="200" minlength="6"></input> <br></br>

            <p id="reg-help">{{ login_feedback }}</p>

            <button class="button right">Login</button>
                    
            
        </form>
    </div>

{% endblock %}