{% extends 'homepage.html' %}

{% block user %}

<div class="row">
    <div class="column middle" style="background-color:#142d4c;">
        <h2>Auction Won</h2>
        <div id="auction-won">
            <!-- Auction history will be loaded here -->
        </div>
    </div>
    <div class="column right" style="background-color:#5262df;">
      <h2>Auction Created</h2>
        <div id="auctions-created">
        <!-- Auction history will be loaded here -->
        </div>
    </div>
</div>

<script>
    // JavaScript function to update auction history
    function updateAuctionHistory() {
        fetch('/auctions-won')
            .then(response => response.json())
            .then(data => {
                const historyElement = document.getElementById('auction-won');
                historyElement.innerHTML = ''; 

                data.forEach(entry => {
                    historyElement.innerHTML += `
                        <div class="card">
                            <img src="/static/uploads/${entry.pic}" type="post_prev"></img>
                            <div class="container4">
                                <h4><b>Title: ${entry.title}</b></h4> 
                                <p> Description: ${entry.detail} </p>
                                <p>price : ${entry.price}</p>
                                <p>The Winner: ${entry.finalWinner}</p>
                            </div>
                        </div>
                    `;
                });
                
            });
    }
    function auctionCreated() {
        fetch('/auctions-created')
            .then(response => response.json())
            .then(data => {
                console.log("data: ", data)
                const createdElement = document.getElementById('auctions-created');
                createdElement.innerHTML = ''; 

                data.forEach(post => {
                    console.log("post", post)
                    // Update the following line if the structure of 'post' is different
                    createdElement.innerHTML += `
                        <div class="card">
                            <img src="/static/uploads/${post.pic}" type="post_prev"></img>
                            <div class="container4">
                                <h4><b>Title: ${post.title}</b></h4> 
                                <p> Description: ${post.detail} </p>
                                <p>price : ${post.price}</p>
                                <p>The Winner: ${post.finalWinner}</p>
                            </div>
                        </div>
                    `;
                });
            })
            .catch(error => {
                console.error('Error fetching auctions created:', error);
            });
    }

    // Call the functions on page load
    updateAuctionHistory();
    auctionCreated();
</script>

{% endblock %}